<%- include("partials/header") -%>

<h1>Home</h1>

<p><%= homeStartingContent %></p>

    <% for (i = 0; i<posts.length; i++) { %>
        <div class="blogPost">
            <h2><%= title[i] %></h2>
            <%= content[i] %>
        </div>
    <% } %>

<%- include("partials/footer") -%> 